html, body {
    margin: 0%;
    height: 100%;
}

.main-body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sub-body {
    flex: 1;
    min-height: 0;
    padding: 1rem 1.5rem;
    overflow: auto;
    mask-image: linear-gradient(
        to bottom, transparent 0,
        black 1rem,
        black calc(100% - 1rem),
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom, transparent 0,
        black 1rem,
        black calc(100% - 1rem),
        transparent 100%
    );
}

#root {
    height: 100%;
}

/* Input */

.input {
    height: 3rem;
    width: 18rem;
    border: solid black 2px;
    border-radius: calc(0.75rem);
    padding: 0 0.75rem;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.input::placeholder {
    font-style: italic;
}

.input:user-invalid {
    border: solid red 2px;
}

.input-label {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
}

.input-bundle {
    display: flex;
    flex-direction: column;
}

.input-select-multi__control {
    min-height: 3rem !important;
    width: 18rem !important;
    border: solid black 2px !important; 
    border-radius: calc(0.75rem) !important;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 18rem;
}

label.hide-me {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.search-bar {
    height: 3rem;
    padding: 0.25rem 0.5rem;
    border: solid black 2px;
    border-radius: calc(0.75rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.search-bar-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-icon > img {
    height: 90%;
}

.search-bar-field {
    border: none;
    font-size: 1.2rem;
}

.search-bar-field:focus {
    outline: none;
}

/* Button */

.button {
    height: 3rem;
    width: 18rem;
    background-color: white;
    border: solid black 2px;
    border-radius: calc(0.75rem);
    font-weight: bold;
    box-sizing: border-box;
    font-size: 1.2rem;
    cursor:pointer;
}

.button-img {
    height: 3rem;
    width: 3rem;
    border: none;
    background-color: white;
    box-sizing: border-box;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-img-icon {
    height: 80%;
}

a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button-link {
    height: 3rem;
    width: 18rem;
    background-color: white;
    border: solid black 2px;
    border-radius: calc(0.75rem);
    font-weight: bold;
    box-sizing: border-box;
    font-size: 1.2rem;
    cursor:pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

/* Layout */

.text-center {
    text-align: center;
}

.content-center {
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Feed */

.feed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.feed-entry {
    min-height: fit-content;
    max-height: 10rem;
    width: 100%;
    background-color: white;
    border: solid black 2px;
    border-radius: calc(0.75rem);
    font-weight: bold;
    box-sizing: border-box;
    font-size: 1.2rem;
    cursor:pointer;
    padding: 1rem;
    text-decoration: none;
    color: black;
}

.feed-entry-title {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 2px black;
}

.feed-entry-description {
    padding-top: 0.5rem;
    font-size: 1rem;
}

/* Article */

.article-page {
    
}

.article-page-divider {
    border-bottom: solid 2px black;
    margin: 0;
}

.article-page-header {
    /* height: 3.5rem; */
    width: 100%;
    display: flex;
    /* align-items: center;
    flex-direction: row; */
    flex-direction: column;
    gap: 0.5rem;
    /* padding-bottom: 1.5rem; */
    /* border-bottom: solid 2px black; */
}

.article-page-header-title {
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.article-page-header-title > h1 {
    margin: 0;
    flex: 1;
}

.article-page-header-metadata {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

.article-page-header-metadata-tag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.article-page-header-metadata-tag-list > h3 {
    margin: 0;
}

.article-page-header-metadata-tag-item {
    background-color: #ccc;
    border-radius: 0.25rem;
    align-items: center;
    padding: 0.25rem;
}

.article-page-title {
    padding-bottom: 0.5rem;
    border-bottom: solid 2px black;
}

.article-page-body {
    
}

/* Nav */

.header {
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navbar {
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.navbar button:not(:first-child) {
    border-left: 1px solid #ccc; /* Light gray divider */
}

.navbar-button {
    flex-grow: 1;
    border: none;
}
.navbar-button:hover {
    cursor: pointer;
}

.navbar-button > img {
    height: 75%;
}

/* Other */

.spinner-box {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.spinner {
    height: 4rem;
}
/* Font */

/* 
    <width>: Use a value from 75 to 100
    <uniquifier>: Use a unique and descriptive class name
*/

.roboto-regular {
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: 400; */
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100; */
}